
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e0f7fa;
    color: #004d40; 
    }
h1 {
    font-family: 'Bungee', cursive;
    font-size: 50px;
    color: #002d20;
}
h2 {
    font-family: 'Bungee';
    color: #003d30; 
    font-size: 30px;

}
h3 {
    font-family: 'Quicksand';
    font-weight: 200;
    color: #004d40; 
    font-size: 25px;

}

p {
    color: #004d40; 
    font-size: 22px;
    font-family: 'Quicksand';
    font-weight: 600;
}
    
.mainTitle {
    padding: 0%;
    margin-bottom: 3px;
}
.nameTitle {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.row {
    display: flex; 
}
    
.col {
    flex: 1; 
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.spacer {
    padding-top: 60px;
    align-self:center;
}




#visualization {
    background-color: #ffffff; 
    border: 2px solid #004d40;
    padding: 10px;
    border-radius: 10px;
}

#large_vis    {
    height: 60%;
    padding: 5px;
       
}
#activities    {
    height: 60%;
    padding: 5px;
    justify-self: left;
       
}


.vega-bind {
    font-size : 200%;
    margin: 10px;
    position: relative;
    top: 50;

}
input[type="range"] {
    height: 40px;
    width: 200px;
    
}

.vega-tooltip {
    font-size: 50px; 
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px; /* Add space between elements */
}
.flex-container-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px; /* Add space between elements */
}
#chart-container {
    display: flex;
    flex-direction: column; /* Stack the slider and chart vertically */
    align-items: center; /* Center align elements */
    width: 100%; /* Full width */
}

